{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    {% if author.location %}
      <p class="author__location"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</p>
    {% endif %}
    {% if author.employer %}
      <p class="author__employer"><a href="{{ author.uri }}"><i class="fa fa-fw fa-building" aria-hidden="true"></i> {{ author.employer }}</a></p>
    {% endif %}
  </div>

  <div class="social-links-grid">
    {% if author.email %}
      <a href="mailto:{{ author.email }}" class="social-link-card">
        <i class="fas fa-envelope"></i> Email
      </a>
    {% endif %}
    {% if author.github %}
      <a href="https://github.com/{{ author.github }}" class="social-link-card">
        <i class="fab fa-github"></i> GitHub
      </a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}" class="social-link-card">
        <i class="fas fa-graduation-cap"></i> Scholar
      </a>
    {% endif %}
    {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}" class="social-link-card">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    {% endif %}
    {% if author.twitter %}
      <a href="https://twitter.com/{{ author.twitter }}" class="social-link-card">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    {% endif %}
    {% if author.orcid %}
      <a href="{{ author.orcid }}" class="social-link-card">
        <i class="ai ai-orcid"></i> ORCID
      </a>
    {% endif %}
    {% if author.researchgate %}
      <a href="{{ author.researchgate }}" class="social-link-card">
        <i class="fab fa-researchgate"></i> ResearchGate
      </a>
    {% endif %}
    {% if author.weibo %}
      <a href="https://www.weibo.com/{{ author.weibo }}" class="social-link-card">
        <i class="fab fa-weibo"></i> Weibo
      </a>
    {% endif %}
  </div>

</div>
